.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .icon {
    min-height: 16px;
    min-width: 16px;

    border-radius: 50%;

    &.complain {
      background: #ee4266;
    }
    &.offer {
      background: #eeb868;
    }
    &.gratitude {
      background: #419d78;
    }
  }

  .title {
    margin: 0 8px 0 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #737a92;
  }
}
