.root {
  margin: 10px auto;
  padding: 5px;
  width: fit-content;

  border-radius: 8px;
  border: 1px solid #e2e4eb;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 25px;
  height: 20px;

  border-radius: 4px;
  background-color: #e2e4eb;
  background-size: 15px;

  transition: al 0.5s ease-in-out;

  &:disabled {
    opacity: 0.2;
  }

  &:not(:disabled):hover {
    background-color: #b6bbcc;
  }
}

.back {
  background-image: url("../../../../assets/images/icons/next.svg");
  transform: rotate(180deg);
}

.next {
  background-image: url("../../../../assets/images/icons/next.svg");
}

.pages {
  margin: 0 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #737a92;
}
