.section {
  padding: 25px 20px;
}

.form {
  margin: 20px auto;
  max-width: 550px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 0;

  font-size: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;

  color: #19488e;
}

.item {
  margin: 0 0 16px;
  width: 100%;
}
