.blackout {
  width: 100%;
  height: 100%;

  background-color: rgba(29, 29, 31, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.blackout_open {
  visibility: visible;
  opacity: 1;
}

.content {
  padding: 8px;
  border-radius: 8px;
  background-color: #ffffff;

  position: absolute;
  z-index: 500;

  transform: scale(0);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;

  &.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
}

.has_icon {
  padding-top: 22px;

  .close_icon {
    width: 14px;
    height: 14px;
    background-image: url("../../assets/images/icons/close.svg");

    position: absolute;
    top: 8px;
    right: 8px;
  }
}
.content_open {
  transform: none;

  visibility: visible;
  opacity: 1;

  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
