.footer {
  padding: 10px 20px;
}

.copyright {
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #737a92;

  .link {
    text-decoration: none;
    color: inherit;

    transition: all 0.5s ease-in-out;

    &:hover {
      color: #19488e;
    }
  }
}
